@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.comidas, .bebidas, .pudim, .valores {
    font-size: 16px;
}

.topo {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    z-index: 2;
}

.container {
    margin: 92px 15px;
}

.contComidas > p, .contBebidas > p, .contPudim > p {
    margin: 8px 0;
}

.botoes, .botoes1, .botoes2 {
    appearance: none;
    width: 172px;
    height: 216px;
    padding: 10px;
    border: 5px solid white;
    background-color: white;
    text-align: left;
    border-radius: 9px;
    box-shadow: none;
    margin-right: 10px;
    position: relative;
}

.container > p {
    margin: 20px 0 10px 0;
}

button.selecionado, button.selecionado1, button.selecionado2 {
    border: 5px solid #32B72F;
}

.scroll {
    display: flex;
    overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.botoes > ion-icon, .botoes1 > ion-icon, .botoes2 > ion-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 10px;
    right: 10px;
    opacity: 0;
}

.selecionado > ion-icon, .selecionado1 > ion-icon, .selecionado2 > ion-icon {
    color: #32B72F;
    opacity: 1;
}


.bot {
    width: 100%;
    height: 92px;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0 30px;
}

.bot > button {
    font-family:'Roboto', sans-serif;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    border: 0;
}

.botaoVerificado {
    background-color: #32B72F;
}



.fundo-confirmarPedido {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.9);
    z-index: 99;
}

.confirmarPedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    padding: 20px;
}

.tudoCerto {
    background-color: white;
    width: 329px;
    height: 52px;
    border: 0px;
    border-radius: 50px;
}

.cancelar {
    background-color: #50D074;
    width: 329px;
    height: 52px;
    border: 0;
    border-radius: 50px;
}

.ocultar {
    display: none;
}

.ProdutosValores {
    width: 329px;
    display: flex;
    justify-content: space-between;
    
}

.ProdutosValores p {
    font-size: 22px;
    margin-bottom: 10px;
}

.ProdutosValores > div {
    display: flex;
    flex-direction: column;
}

.valores {
    text-align: right;
}

/* FORMATAÇÃO */

.cinza {
    color: #A6A6A6;
}

.verde {
    color: #50D074;
}

.branco {
    color: #FFFFFF;
}

.fontRight {
    font-family: 'Righteous', cursive;
}

.f44 {
    font-size: 44px;
}

.f26 {
    font-size: 26px;
}

.f22 {
    font-size: 22px;
}

.f20 {
    font-size: 20px;
}

.f18 {
    font-size: 18px;
    margin-left: 2px;
}

.f16 {
    font-size: 16px;
}

.f15 {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

/* FORMATAÇÃO */